<div class="mb-4">
  <a href="cars" (click)="getCarResponse()">
    Get Cars
  </a>
</div>

<h4>Modified Response</h4>
<div *ngIf="finalCars.length; else noData">
  <div *ngFor="let car of finalCarsResult | keyvalue; let i = index">
    <ul>
      <li [attr.id]="'car-' + i">{{(car && car.key)? car.key: 'NO-MAKE'}}
        <div *ngFor="let model of car.value">
          <ul>
            <li *ngFor="let model of model.models; let i = index" [attr.id]="'model-' + i">
              {{(model && model.model)? model.model: 'NO-MODEL'}}
              <ul>
                <li [attr.id]="'show-' + i">{{(model.name)? model.name: 'NO-NAME'}}</li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="alert alert-danger error" *ngIf="isError">{{ errorMessage }}</div>
<ng-template #noData>
  <div *ngIf="!isError" class="alert alert-warning warn">{{ noDataFound }}</div>
</ng-template>


<h4 class="mt-4">Actual Server Response</h4>
<div class="mb-4">
  {{serverResponse | json}}</div>